<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="linaInfo" class="com.hyhy.spring.fx.POJO.DotaHeroInfo">
    <property name="name" value="lina"/>
    <property name="strength" value="15"/>
    <property name="agility" value="23"/>
    <property name="intelligence" value="45"/>
    <property name="isCarry" value="false"/>
</bean>

</beans>
